<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kangce.finance">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kangce.finance.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="金银花"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.kangce.finance.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kangce.finance.ui.main.ShapeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kangce.finance.ui.manager.department.DepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kangce.finance.ui.manager.department.AddDepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kangce.finance.ui.manager.department.DeleteDepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kangce.finance.ui.manager.staff.StaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kangce.finance.ui.manager.staff.AddStaffActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.kangce.finance.ui.manager.salary.SalaryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.kangce.finance.ui.auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kangce.finance.ui.auth.RegisterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>